[main]
Description=PJ Interactive RO Client VPN
Host=193.226.163.218
AuthType=1
GroupName=PJI-RO
GroupPwd=
enc_GroupPwd=19077A638E30E32CA0D5F7875F518981C8B908DADF463CDEFCA4FA70FDCCE57B6E7F52420DFE2F8DF4D60A7D9E6CC554488C43F35B2AC6DD
EnableISPConnect=0
ISPConnectType=0
ISPConnect=Business Everywhere
ISPPhonebook=C:\ProgramData\Microsoft\Network\Connections\Pbk\rasphone.pbk
ISPCommand=
Username=jakevs
SaveUserPassword=0
UserPassword=
enc_UserPassword=
NTDomain=
EnableBackup=0
BackupServer=
EnableMSLogon=1
MSLogonType=0
EnableNat=1
TunnelingMode=0
TcpTunnelingPort=10000
CertStore=0
CertName=
CertPath=
CertSubjectName=
CertSerialHash=00000000000000000000000000000000
SendCertChain=0
PeerTimeout=90
EnableLocalLAN=0
